Repository pabrahamsson/containers: changes, and which Tekton pipelines are due for each by the changed paths.
All: gh-cli-release, git-release, goaccess-build, hugo-asciidoctor-build, release-please-build

gh-cli-release:
  params:
  - name: repo-url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: image-url
    value: quay.io/pabrahamsson/gh-cli
  - name: context
    value: gh-cli
  pipelineRef:
    params:
    - name: kind
      value: pipeline
    - name: name
      value: containers-release-pipeline
  ...

git-release:
  params:
  - name: repo-url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: image-url
    value: quay.io/pabrahamsson/git
  - name: context
    value: git
  pipelineRef:
    params:
    - name: kind
      value: pipeline
    - name: name
      value: containers-release-pipeline
  ...

goaccess-build:
  params:
  - name: repo-url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: image-url
    value: quay.io/pabrahamsson/goaccess:test
  - name: context
    value: goaccess
  pipelineRef:
    params:
    - name: kind
      value: pipeline
    - name: name
      value: containers-build-pipeline
  ...

hugo-asciidoctor-build:
  params:
  - name: repo-url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: image-url
    value: quay.io/pabrahamsson/hugo-asciidoctor:test
  - name: context
    value: hugo-asciidoctor
  pipelineRef:
    params:
    - name: kind
      value: pipeline
    - name: name
  ...

release-please-build:
  params:
  - name: repo-url
    value: '{{ repo_url }}'
  - name: revision
    value: '{{ revision }}'
  - name: image-url
    value: quay.io/pabrahamsson/release-please:test
  - name: context
    value: release-please
  pipelineRef:
    params:
    - name: kind
      value: pipeline
    - name: name
  ...

chore(deps): update quay.io/hummingbird/core-runtime:2.43-builder docker digest to 36845f8 (#15)
  coredns/Containerfile
Due: none

chore(deps): update dependency coredns/coredns to v1.14.6 (#17)
  coredns/Containerfile
Due: none

chore(deps): update quay.io/hummingbird/core-runtime:2.43 docker digest to b1cc97b (#18)
  coredns/Containerfile
Due: none

chore(deps): update quay.io/hummingbird/nodejs:26 docker digest to 1069c60 (#19)
  release-please/Containerfile
Due: release-please-build

chore(deps): update quay.io/hummingbird/nodejs:26-builder docker digest to cfaa304 (#20)
  release-please/Containerfile
Due: release-please-build

chore(deps): update registry.access.redhat.com/ubi10/ubi-minimal docker tag to v10.2-1785332632 (#21)
  gh-cli/Containerfile
  git/Containerfile
  goaccess/Containerfile
  hugo-asciidoctor/Containerfile
Due: gh-cli-release, git-release, goaccess-build, hugo-asciidoctor-build

chore(deps): update dependency googleapis/release-please to v17.11.0 (#22)
  release-please/Containerfile
Due: release-please-build

chore(deps): update quay.io/hummingbird/nodejs:26-builder docker digest to d06adaf (#24)
  release-please/Containerfile
Due: release-please-build

chore(deps): update quay.io/hummingbird/nodejs:26 docker digest to 10fac19 (#23)
  release-please/Containerfile
Due: release-please-build

chore(deps): update quay.io/hummingbird/core-runtime:2.43 docker digest to 80bd4bd (#25)
  coredns/Containerfile
Due: none

chore(deps): update quay.io/hummingbird/core-runtime:2.43-builder docker digest to 2c0a7d7 (#26)
  coredns/Containerfile
Due: none

chore(deps): update dependency googleapis/release-please to v17.11.1 (#27)
  release-please/Containerfile
Due: release-please-build

chore(deps): update dependency cli/cli to v2.97.0 (#28)
  gh-cli/Containerfile
Due: gh-cli-release

chore(deps): update quay.io/hummingbird/nodejs:26-builder docker digest to 0d0de71 (#30)
  release-please/Containerfile
Due: release-please-build

chore(deps): update quay.io/hummingbird/nodejs:26 docker digest to bb8fa50 (#29)
  release-please/Containerfile
Due: release-please-build

Path conditions:
  gh-cli-release: any of: gh-cli/**
  git-release: any of: git/**
  goaccess-build: any of: goaccess/**, .tekton/goaccess*.yaml
  hugo-asciidoctor-build: any of: hugo-asciidoctor/**, .tekton/hugo-asciidoctor*.yaml
  release-please-build: any of: release-please/**, .tekton/release-please*.yaml
